html {
    background: url(nyc2.jpg) no-repeat center fixed;
    background-size: cover;
    overflow: hidden;   
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .1rem 1rem;
}